networks:
  label_studio_network:
    driver: bridge

services:
  label-studio:
    container_name: label-studio
    image: ${LABEL_STUDIO_IMAGE}
    networks:
      - label_studio_network
    ports:
      - "8080:8080"
    volumes:
      - "${DATA_DIR}/my_data:/label-studio/data"
      - "${DATA_DIR}/my_files:/label-studio/files"
      - "${PROJ_DIR}:/code"
    environment:
      - LABEL_STUDIO_LOCAL_FILES_SERVING_ENABLED=true
      - LABEL_STUDIO_LOCAL_FILES_DOCUMENT_ROOT=/label-studio/files
  segment_anything_model:
    container_name: label-studio-ml-backend
    image: heartexlabs/label-studio-ml-backend:sam-master
    build:
      context: .
      dockerfile: ${LABEL_STUDIO_ML_BACKEND_MODEL_PATH}/Dockerfile
      shm_size: '4gb'
      args:
        TEST_ENV: false
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    networks:
      - label_studio_network
    environment:
      - SAM_CHOICE=${SAM_CHOICE}
      - LOG_LEVEL=${LOG_LEVEL}
      - NVIDIA_VISIBLE_DEVICES=all
      - WORKERS=1
      - THREADS=8
      - MODEL_DIR=/data/models
      - LABEL_STUDIO_HOST=${LABEL_STUDIO_HOST}
      - LABEL_STUDIO_ACCESS_TOKEN=${LABEL_STUDIO_ACCESS_TOKEN}
    ports:
      - "9090:9090"
    volumes:
      - "${DATA_DIR}/my_server:/data"