# JupyterLab
jupyterlab==3.4.3
ipywidgets==8.1.5

# Common Libraries
numpy==1.26.4
scipy==1.14.1
pandas==2.2.2
matplotlib==3.9.2

# CV Libraries
opencv-python==4.10.0.84
opencv-contrib-python==4.10.0.84

# LabelStudio SDK for Annotation Tools
label-studio-sdk==1.0.5
label-studio-converter==0.0.59
